footer.footer
  div.wrapper.wrapper_footer
    img(src="asset/footer__map.png").footer__map
    div.footer_wrap
      nav.nav-bar_footer
        div.nav-bar__title_footer Navigation
        ul.nav-bar__list_footer
          li.nav-bar__item_footer
            a(href="/").link.link_footer Home
          li.nav-bar__item_footer
            a(href="/about").link.link_footer About
          li.nav-bar__item_footer
            a(href="/pricing").link.link_footer Pricing
          li.nav-bar__item_footer
            a(href="/domain").link.link_footer Domain
          li.nav-bar__item_footer
            a(href="/hosting").link.link_footer Hosting
      div.social
        ul.social__list
          li.social__item
            a(href="twitter").link.link_social
              i.fa.fa-twitter
          li.social__item
            a(href="instagram").link.link_social
              i.fa.fa-instagram
          li.social__item
            a(href="facebook").link.link_social
              i.fa.fa-google-plus 
    div.footer__copyright Copyright 2014 Maguwohost by FikriStudio