footer.footer
  div.wrapper.wrapper_footer
    img(src="asset/footer__map.png").footer__map
    div.footer_wrap
      include nav-bar.pug
      include social.pug
    div.footer__copyright Copyright 2014 Maguwohost by FikriStudio