.footer
  background blue
  opacity 0.9
  padding 50px 0

.footer__map
  height 409px
  margin 0 0 0 -600px
  width 860px

.footer__copyright
  color white
  font 400 14px font__raleway
  margin 70px 0 0 0
  position relative

.footer__copyright::before
  sprite($footer__copyright)
  content ""
  position absolute
  top -50px
  left 50%
  margin-left -16px

@media (min-width: tablet)
  .footer__map
    margin 0 0 0 -400px
  
  .footer_wrap
    align-items flex-end
    display flex
    flex-flow column nowrap

@media (min-width: screen)
  .footer__map
    margin 0

@media (min-width: screen2)
  .footer__map
    margin 0
    
  .footer_wrap
    margin 0 0 0 200px
