nav.nav-bar_footer
  div.nav-bar__title_footer Navigation
  ul.nav-bar__list_footer
    li.nav-bar__item_footer
      a(href="/").link.link_footer Home
    li.nav-bar__item_footer
      a(href="/about").link.link_footer About
    li.nav-bar__item_footer
      a(href="/pricing").link.link_footer Pricing
    li.nav-bar__item_footer
      a(href="/domain").link.link_footer Domain
    li.nav-bar__item_footer
      a(href="/hosting").link.link_footer Hosting