div.social
  ul.social__list
    li.social__item
      a(href="twitter").link.link_social
        i.fa.fa-twitter
    li.social__item
      a(href="instagram").link.link_social
        i.fa.fa-instagram
    li.social__item
      a(href="facebook").link.link_social
        i.fa.fa-google-plus 