section.services
  div.wrapper.wrapper_services
    div.service.service_webhost
      img(src="../asset/service__icon_webhost.png").service__icon.service__icon_webhost
      div.service__title.service__title_webhost #1 Webhost Services
      div.service__description.service__description_webhost This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
      a(href="#").service__button.service__button_webhost More
    div.service.service_domain
      div.service__icon.service__icon_domain .com
      div.service__title.service__title_domain #1 Domain Services
      div.service__description.service__description_domain This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
      a(href="#").service__button.service__button_domain More