form.splash__check-domain.form
  input(name="domainName" type="text" placeholder="Your Domain Name ...").form__input
  select(name="domain").form__select
    option(value="com").form__option .com
    option(value="ru").form__option .ru
    option(value="io").form__option .io
  button(name="send" type="submit").form__button Check Availability