.form
  display flex
  flex-flow row wrap
  justify-content space-between

.form__input,
.form__select
  background white
  border none
  color blue

.form__input
  padding 17px 20px 16px 20px
  flex-grow 2
  font 400 18px font__raleway
  width 100%

.form__select
  appearance none
  background url(../asset/form__select_arrow.png) no-repeat 80px yellow
  background-size 15px 8px
  border-right solid 1px white
  font 700 18px font__raleway
  padding 16px 45px 15px 20px

.form__select:focus
  outline none

.form__select:hover
  cursor pointer

.form__option
  color blue

.form__button
  background yellow
  border solid 2px yellow
  color white
  flex-grow 2
  font 700 14px font__raleway
  padding 17px 19px
  transition background, color 300ms ease-in

.form__button:hover
  background white
  color blue
  cursor pointer
  
@media (min-width: tablet)
  .form__input
    width initial