section.splash
  div.wrapper.wrapper_splash
    div.splash__title Just a Proffesional Web Hosting Services
    div.splash__description
      div.splash__description-text modern
      div.splash__description-text fast
      div.splash__description-text reliable
    include form.pug
