.splash
  background grey url(../asset/splash_bg.jpg) no-repeat
  background-size cover

.splash__title
  color white
  font 400 48px font__rockwell
  margin 20px 0 0 0
  padding 10px
  text-align center

.splash__description
  color white
  font 400 30px/24px font__raleway
  margin 5px 0 0 0
  position relative

.splash__description::after
  sprite($splash__description)
  content ""
  position absolute
  top 120px
  left 50%
  margin-left -50px

.splash__description-text
  padding 5px
  text-align center

.splash__check-domain
  border solid 18px rgba(white, 0.5)
  margin 141px 0 28px

@media (min-width: tablet)
  .splash__description
    display flex
    flex-flow row wrap
  
  .splash__description::after
    top 50px

@media (min-width: screen)
  .splash__title
    margin 110px 0 0 0
  
  .splash__description
    margin 25px 0 0 0
  
  .splash__description::after
    top 70px
  
  .splash__check-domain
    margin 180px 0 70px

@media (min-width: screen2)
  .splash__title
    margin 220px 0 0 0
  
  .splash__check-domain
    margin 230px 0 140px

  .splash__description::after
    top 90px