.splash
  background grey url(../asset/splash_bg.jpg) no-repeat
  background-size cover

.splash__title
  color white
  font 400 48px font__rockwell
  margin 220px 0 0 0
  padding 10px
  text-align center

.splash__description
  color white
  font 400 30px/24px font__raleway
  margin 25px 0 0 0
  position relative

.splash__description::after
  content ""
  background url(../asset/splash__description.png) no-repeat
  height 108px
  position absolute
  top 90px
  left 50%
  margin-left -50px
  width 101px

.splash__check-domain
  border solid 18px rgba(white, 0.5)
  margin 230px 0 140px

.form
  display flex
  justify-content center
  align-items flex-start

.form__input,
.form__select
  background white
  border none
  color blue

.form__input
  padding 17px 20px 16px 20px
  font 400 18px font__raleway

.form__select
  appearance none
  background url(../asset/form__select_arrow.png) no-repeat 80px yellow
  background-size 15px 8px
  border-right solid 1px white
  font 700 18px font__raleway
  padding 11px 45px 11px 20px

.form__select:focus
  outline none

.form__select:hover
  cursor pointer

.form__option
  color blue

.form__button
  background yellow
  border solid 2px yellow
  color white
  font 700 14px font__raleway
  padding 17px 20px
  transition background, color 300ms ease-in

.form__button:hover
  background white
  color blue
  cursor pointer

// @media (min-width: mobile2)
// .form
//   padding 0 50px

// @media (min-width: tablet)
// .form
//   padding 0 200px

// @media (min-width: screen)
// .form
//   padding 0

// .form__input,
// .form__select
//   float left
//   font 400 16px/1 fontArray
//   padding 14px 25px
//   width 196px

// .form__input[name="firstName"],
// .form__input[name="email"]
//   margin 10px 10px 10px 0

// .form__input[name="lastName"]
//   margin 10px 0 10px 10px

// .form__select
//   width 250px

// .form__select_style
//   background url(../img/form__select_arrow.png) no-repeat 205px white
//   margin 10px 0 10px 10px
//   width 250px

// .form__textarea
//   width 466px

// .form__button
//   float right
//   font 700 20px/1 fontArray
//   margin-bottom 30px
//   padding 15px 20px