.splash
  background grey url(../asset/splash_bg.jpg) no-repeat
  background-size cover

.splash__title
  color white
  font 400 48px font__rockwell
  margin 20px 0 0 0
  padding 10px
  text-align center

.splash__description
  color white
  font 400 30px/24px font__raleway
  margin 5px 0 0 0
  position relative

.splash__description::after
  sprite($splash__description)
  content ""
  position absolute
  top 120px
  left 50%
  margin-left -50px

.splash__description-text
  padding 5px
  text-align center

.splash__check-domain
  border solid 18px rgba(white, 0.5)
  margin 141px 0 28px

.form
  display flex
  flex-flow row wrap
  justify-content space-between

.form__input,
.form__select
  background white
  border none
  color blue

.form__input
  padding 17px 20px 16px 20px
  flex-grow 2
  font 400 18px font__raleway
  width 100%

.form__select
  appearance none
  background url(../asset/form__select_arrow.png) no-repeat 80px yellow
  background-size 15px 8px
  border-right solid 1px white
  font 700 18px font__raleway
  padding 16px 45px 15px 20px

.form__select:focus
  outline none

.form__select:hover
  cursor pointer

.form__option
  color blue

.form__button
  background yellow
  border solid 2px yellow
  color white
  flex-grow 2
  font 700 14px font__raleway
  padding 17px 19px
  transition background, color 300ms ease-in

.form__button:hover
  background white
  color blue
  cursor pointer

@media (min-width: tablet)
  .splash__description
    display flex
    flex-flow row wrap
  
  .splash__description::after
    top 50px
  
  .form__input
    width initial

@media (min-width: screen)
  .splash__title
    margin 110px 0 0 0
  
  .splash__description
    margin 25px 0 0 0
  
  .splash__description::after
    top 70px
  
  .splash__check-domain
    margin 180px 0 70px

@media (min-width: screen2)
  .splash__title
    margin 220px 0 0 0
  
  .splash__check-domain
    margin 230px 0 140px

  .splash__description::after
    top 90px