.page
  margin 0
  background lightpink

.wrapper
  align-items center
  display flex
  flex-flow row wrap
  justify-content space-between
  margin 0 auto
  width 300px

.link
  color blue
  text-decoration none

@media (min-width: tablet)
  .wrapper
    width 760px
    
@media (min-width: screen)
  .wrapper
    width 1020px

@media (min-width: screen2)
  .wrapper
    width 1280px