.page
  margin 0
  background lightpink

.link
  color blue
  text-decoration none

.wrapper
  margin 0 auto

.wrapper_header
  align-items center
  display flex
  flex-flow row wrap
  justify-content space-between

.wrapper_splash
  align-items center
  display flex
  flex-flow column wrap
  justify-content space-around

@media (min-width: tablet)
  .wrapper
    width 40em
    
@media (min-width: screen)
  .wrapper
    width 64em

@media (min-width: screen2)
  .wrapper
    width 90em