.link
  text-decoration none

.link_nav-bar
  color blue
  background white
  font 400 16px/32px font__rockwell
  padding 10px
  text-transform uppercase
  transition color 100ms ease-in

.link_nav-bar:hover
  color yellow

.link_footer
  color white
  transition color 100ms ease-in

.link_footer:hover
  color yellow

.link_social
  color yellow
  transition color 100ms ease-in

.link_social:hover
  color white

@media (min-width: screen)  
  .link_nav-bar
    padding 10px