/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$feature__icon_cloud_name = 'feature__icon_cloud';
$feature__icon_cloud_x = 0px;
$feature__icon_cloud_y = 0px;
$feature__icon_cloud_offset_x = 0px;
$feature__icon_cloud_offset_y = 0px;
$feature__icon_cloud_width = 128px;
$feature__icon_cloud_height = 128px;
$feature__icon_cloud_total_width = 357px;
$feature__icon_cloud_total_height = 256px;
$feature__icon_cloud_image = '../asset/sprite.png';
$feature__icon_cloud = 0px 0px 0px 0px 128px 128px 357px 256px '../asset/sprite.png' 'feature__icon_cloud';
$feature__icon_database_name = 'feature__icon_database';
$feature__icon_database_x = 128px;
$feature__icon_database_y = 0px;
$feature__icon_database_offset_x = -128px;
$feature__icon_database_offset_y = 0px;
$feature__icon_database_width = 128px;
$feature__icon_database_height = 128px;
$feature__icon_database_total_width = 357px;
$feature__icon_database_total_height = 256px;
$feature__icon_database_image = '../asset/sprite.png';
$feature__icon_database = 128px 0px -128px 0px 128px 128px 357px 256px '../asset/sprite.png' 'feature__icon_database';
$feature__icon_monitoring_name = 'feature__icon_monitoring';
$feature__icon_monitoring_x = 0px;
$feature__icon_monitoring_y = 128px;
$feature__icon_monitoring_offset_x = 0px;
$feature__icon_monitoring_offset_y = -128px;
$feature__icon_monitoring_width = 128px;
$feature__icon_monitoring_height = 128px;
$feature__icon_monitoring_total_width = 357px;
$feature__icon_monitoring_total_height = 256px;
$feature__icon_monitoring_image = '../asset/sprite.png';
$feature__icon_monitoring = 0px 128px 0px -128px 128px 128px 357px 256px '../asset/sprite.png' 'feature__icon_monitoring';
$feature__icon_support_name = 'feature__icon_support';
$feature__icon_support_x = 128px;
$feature__icon_support_y = 128px;
$feature__icon_support_offset_x = -128px;
$feature__icon_support_offset_y = -128px;
$feature__icon_support_width = 128px;
$feature__icon_support_height = 128px;
$feature__icon_support_total_width = 357px;
$feature__icon_support_total_height = 256px;
$feature__icon_support_image = '../asset/sprite.png';
$feature__icon_support = 128px 128px -128px -128px 128px 128px 357px 256px '../asset/sprite.png' 'feature__icon_support';
$splash__description_name = 'splash__description';
$splash__description_x = 256px;
$splash__description_y = 0px;
$splash__description_offset_x = -256px;
$splash__description_offset_y = 0px;
$splash__description_width = 101px;
$splash__description_height = 108px;
$splash__description_total_width = 357px;
$splash__description_total_height = 256px;
$splash__description_image = '../asset/sprite.png';
$splash__description = 256px 0px -256px 0px 101px 108px 357px 256px '../asset/sprite.png' 'splash__description';
$spritesheet_width = 357px;
$spritesheet_height = 256px;
$spritesheet_image = '../asset/sprite.png';
$spritesheet_sprites = $feature__icon_cloud $feature__icon_database $feature__icon_monitoring $feature__icon_support $splash__description;
$spritesheet = 357px 256px '../asset/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
