// Colors
// ______

blue = #202242
light__grey_text = #a4a4a4
light__grey_background = #f5f3f3
grey = dimgrey
palewhite = #fbf8f1
white = #ffffff
yellow = #ffe13e

// Font
// ____

font__raleway = 'Raleway', Arial, sans-serif
font__rockwell = 'Rockwell', 'Times New Roman', serif

// Resolution
// __________

mobile = 320px
mobile2 = 480px
tablet = 768px
screen = 1024px
screen2 = 1280px