// Colors
// ______

blue = #202242
light__grey_text = #a4a4a4
light__grey_background = #f5f3f3
grey = dimgrey
palewhite = #fbf8f1
white = #ffffff
yellow = #ffe13e

// Font
// ____

font__raleway = 'Raleway', Arial, sans-serif
font__rockwell = 'Rockwell', 'Times New Roman', serif

// Resolution
// __________

tablet = 40em
screen = 64em
screen2 = 90em