.page {
  margin: 0;
  background: #ffb6c1;
}
.wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 300px;
}
.link {
  color: #202242;
  text-decoration: none;
}
@media (min-width: 768px) {
  .wrapper {
    width: 760px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: 1020px;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    width: 1280px;
  }
}
.header {
  background: #fff;
}
.logo {
  color: #202242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 400 30px/32px 'Rockwell', 'Times New Roman', serif;
  margin: 10px;
}
.logo_custom {
  font: 700 30px/32px 'Rockwell', 'Times New Roman', serif;
}
.logo__icon {
  height: 32px;
  margin: 0 18px 0 0;
  width: 26px;
}
.nav-bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.nav-bar__list {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 35px;
  right: 0;
}
.nav-bar__title {
  color: #202242;
  font: 400 16px/32px 'Raleway', Arial, sans-serif;
  padding: 5px 0;
}
.nav-bar:hover .nav-bar__list {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
}
.nav-bar__link {
  background: #fff;
  font: 400 16px/32px 'Rockwell', 'Times New Roman', serif;
  padding: 10px 0 10px 10px;
  text-transform: uppercase;
  transfrom: color 300ms ease-in;
}
.nav-bar__link:hover {
  color: #ffe13e;
}
.contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contact__text {
  color: #202242;
  font: 600 12px/24px 'Raleway', Arial, sans-serif;
}
.contact__button_live-chat {
  background: #ffe13e;
  border: solid 2px #ffe13e;
  color: #202242;
  font: 600 14px/24px 'Raleway', Arial, sans-serif;
  margin: 0 20px 0 0;
  padding: 10px 29px;
  transfrom: background 300ms ease-in;
  position: relative;
}
.contact__button_live-chat:hover {
  background: #fff;
}
.contact__button_live-chat::after {
  content: "";
  background: #202242;
  height: 34px;
  left: 142px;
  opacity: 0.31;
  position: absolute;
  top: 5px;
  width: 1px;
}
.contact__tel {
  color: #202242;
  font: 700 24px/24px sans-serif;
}
@media (min-width: 768px) {
  .contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .contact__button_live-chat {
    margin: 0 20px;
  }
  .contact__tel {
    padding: 0 0 0 20px;
  }
}
@media (min-width: 1024px) {
  .nav-bar {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-bar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 0;
  }
  .nav-bar__title {
    display: none;
  }
  .nav-bar:hover .nav-bar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
  .nav-bar__link {
    padding: 10px;
  }
}
@media (min-width: 1280px) {
  .nav-bar__item {
    margin: 10px;
  }
  .contact {
    border-left: solid 1px rgba(32,34,66,0.31);
    padding: 37px 0;
    width: 370px;
  }
  .contact__button_live-chat {
    margin: 0 20px 0 0;
  }
}
