doctype html
html
  head
    meta(charset="UTF-8")
    title maguwohost
    link(href="https://fonts.googleapis.com/css?family=Raleway:400,600,700", rel="stylesheet", type="text/css")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="css/main.css")
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body.page
    include blocks/header/header.pug
    include blocks/splash/splash.pug
    include blocks/services/services.pug
    include blocks/features/features.pug
    include blocks/clients/clients.pug
    include blocks/plans/plans.pug
    include blocks/footer/footer.pug