section.plans
  div.wrapper.wrapper_plans
    div.plans_wrap
      div.plans__title Do you want to view Plans & Pricing ?
      div.plans__description Follow the button in the right section.
    a(href="#").plans__button Plans & Pricing