header.header
  div.wrapper
    div.logo
      img(class="logo__icon", src="asset/logo__icon.png")
      div.logo__text Maguwo<span class="logo_custom">Host</span>
    div.nav-bar__title MENU
      nav.nav-bar
        ul.nav-bar__list
          li.nav-bar__item
            a(href="/").link.nav-bar__link Home
          li.nav-bar__item
            a(href="/about").link.nav-bar__link About
          li.nav-bar__item
            a(href="/pricing").link.nav-bar__link Pricing
          li.nav-bar__item
            a(href="/domain").link.nav-bar__link Domain
          li.nav-bar__item
            a(href="/hosting").link.nav-bar__link Hosting
    div.contact
      div.contact__text Do you need help ? Just Email, Live chat or Call us
      a(href="#").link.contact__button_live-chat Live Chat
      span.contact__tel 6284-6534