.logo
  color blue
  display flex
  font 400 30px font__rockwell
  margin 10px

.logo__text_custom
  font 700 30px font__rockwell

.logo__icon
  height 32px
  margin 0 18px 0 0
  width 26px