nav.nav-bar
  div.nav-bar__title_header MENU
  ul.nav-bar__list_header
    li.nav-bar__item
      a(href="/").link.link_nav-bar Home
    li.nav-bar__item
      a(href="/about").link.link_nav-bar About
    li.nav-bar__item
      a(href="/pricing").link.link_nav-bar Pricing
    li.nav-bar__item
      a(href="/domain").link.link_nav-bar Domain
    li.nav-bar__item
      a(href="/hosting").link.link_nav-bar Hosting