section.clients
  div.wrapper.wrapper_clients
    div.clients_wrap
      div.clients__title Our Clients
      div.clients__description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum.
    div.clients__company_wrap
      img(src="asset/clients__company_tree.jpg").clients__company.clients__company_tree
      img(src="asset/clients__company_x.jpg").clients__company.clients__company_x
      img(src="asset/clients__company_u.jpg").clients__company.clients__company_u
      img(src="asset/clients__company_fish.jpg").clients__company.clients__company_fish
    div.clients__testimonial_wrap
      div.clients__testimonial
        div.clients__text “ This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. ”
        div.clients__author -Anna
        img(src="asset/testimonial__author-photo.png").clients__author-photo
      div.clients__testimonial
        div.clients__text “ This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. ”
        div.clients__author -Anna
        img(src="asset/testimonial__author-photo.png").clients__author-photo
      div.clients__testimonial
        div.clients__text “ This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. ”
        div.clients__author -Anna
        img(src="asset/testimonial__author-photo.png").clients__author-photo