section.features
  div.wrapper.wrapper_features
    div.features__title Our Features
    div.features__subtitle Our Best Features
    div.feature_wrap
      div.feature
        div.feature__icon.feature__icon_support 
        div.feature__title Live Support
        div.feature__description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
      div.feature
        div.feature__icon.feature__icon_cloud
        div.feature__title Cloud Technology
        div.feature__description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
      div.feature
        div.feature__icon.feature__icon_database
        div.feature__title Hi Tech Database
        div.feature__description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
      div.feature
        div.feature__icon.feature__icon_monitoring
        div.feature__title Live Monitoring
        div.feature__description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.